APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=examenafname-dev
DB_USERNAME=<dbUser>
DB_PASSWORD=<dbUserPassword>

CACHE_DRIVER=file
QUEUE_DRIVER=sync
